# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.backup
.env.production

# IDE
/.idea
/.vscode
/.fleet
/.zed

# PHP
.phpunit.result.cache
.phpactor.json
/.phpunit.cache

# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/*
/bootstrap/cache/*

# Auth
auth.json

# Homestead
Homestead.json
Homestead.yaml